version: '3.8'

services:
  postgres:
    image: postgres:18.1-alpine
    container_name: botter_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: botter_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7.2.8-alpine
    container_name: botter_redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    restart: always

volumes:
  pgdata:
  redisdata:
